.row{
    margin-left: 20px;
    color: #fff;
    
}
.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
  
}
.posters::-webkit-scrollbar{
    display: none;
}

.poster{
    cursor: pointer;
    max-height: 200px;
    margin-right: 10px;
    border-radius: 0.7rem;
}
.poster:hover{
    transform: scale(1.2);
    transition-duration: 1s;
}

.smallPoster{
    cursor: pointer;
    max-height: 150px;
    margin-right: 10px;
    border-radius: 0.7rem;


}
.smallPoster:hover{
    transform: scale(1.2);
    transition-duration: 1s;
}

.title2{
    text-align: center;
    padding-right: 10px;
    font-size: 2rem;
    font-weight: 800;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;

    
} 